.number {
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.pageSelected {
  font-weight: bold;
  font-size: 18px;
}

.pageNumber {
  padding: 2px;

}

.pageNumber.selectedPage {
  font-weight: bold;

}
.buttonPaginator {
  background-color: transparent;
  border: none;
  font-weight: bold;
}