.app-wrapper {
  margin: 0 auto;
  height: 100vh;
  box-sizing: border-box;
  width: calc(100% - 300px);
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
  grid-template-areas:
    "h h"
    "n c";
}

.app-wrapper-content {
  grid-area: c;
  background-color: rgb(106, 141, 223);
}
